.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 1em;
}

.stack {
    background: rgb(245, 250, 249);
}

.center {
    text-align: center;
    align-items: center;
}

.newTaskInput {
  margin: 1em 1em;
  width: 95%;
  border-color: rgb(240, 240 ,240);
  border: 1px solid rgb(240, 240 ,240);
}

.task {
    position: relative;
    background: white;
    border: 1px solid  rgb(239, 239, 239);
    border-radius: 5px;
    height: 5em;
    margin: 0.5em;
}

.taskInner {
    height: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.xmarkIcon {
    position: absolute;
    top: 0;
    right: 0;
}